.toast-success {
    background-color: #28a745 !important;
    color: white !important;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toast-error {
  background-color: #dc3545 !important;
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toast-warn {
  background-color: #f7ea63 !important;
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(240, 255, 124, 0.4);
  }
  70% {
    box-shadow: 0 0 0 25px rgba(255, 242, 0, 0.0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 255, 138, 0);
  }
}

.pulse {
  animation: pulse 1s ease-out;
}
